body {
  background-color: #ddd9cf;
  font-family: sans-serif;
  margin: 0;
}

li.home-button {
  background-color: #00AA00;
}
li.login-button {
  background-color: black;
  float: right;
}

ul.pagination {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-top: solid 1px black;
  padding: 15px;
  margin-bottom: 0;
  justify-content: space-around;
  text-align: center;
}
ul.pagination li {
  list-style: none;
  display: inline-block;
  margin: auto;
  width: 1.5em;
  border: solid 1px black;
  border-radius: 5px;
  padding: 2px;
}
ul.pagination li.active {
  background-color: #55AAFF;
}
ul.pagination li.active > a:link, ul.pagination li.active > a:visited {
  pointer-events: none;
  cursor: default;
  color: white;
}
ul.pagination > li.disabled {
  display: none;
}
ul.pagination li a:link, ul.pagination li a:visited {
  text-decoration: none;
  color: black;
}

img.avatar {
  border-radius: 50%;
  vertical-align: middle;
}
#mainblock > .h-card, div.comment {
  display: flex;
}
#indieauth_page {
    padding: 1em;
}
#indieauth_page > .h-card {
    display: flex;
    padding: 1em;
    border: solid 1px black;
    border-radius: 10px;
    margin: 1em;
}
.indieauth-debug-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
div.comment {
  border: solid 1px black;
  margin-bottom: 1em;
}
div.comment .u-author {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1em;
  display: block;
}
div.comment p.comment-time {
  margin-top: 0;
  font-size: small;
}
div.comment .e-content {
  margin-bottom: 1em;
}
div.h-card > .avatar-holder {
  height: 100%;
  padding-left: 1em;
}
div.comment > .avatar-holder {
  padding-right: 1em;
  padding-top: 1em;
  float: left;
}
div.comment > .avatar-holder > img {
  width: 64px;
}
blockquote > .avatar-holder {
  width:64px;
  height: 64px;
  padding-right: 1em;
  float: left;
}
blockquote > .avatar-holder > img {
  width: 64px;
  height: 64px;
}

div.h-card > .avatar-holder > img {
  width: 128px;
}
div.h-card > .text-holder {
  padding-left: 1em;
  padding-right: 1em;
}
div.h-card a:link {
  text-decoration: none;
}
p.card-subhead {
  font-size: smaller;
}
div.contact-container {
  font-size: small;
}
h1.card-name, p.contact-header {
  margin-bottom: 0;
}
p.card-subhead, ul.contact {
  margin-top: 0;
}
div#mainblock {
  width: 99%;
  margin: auto;
  border: solid 1px black;
  background-color: #ffffff;
}
.return-to-top {
  border-top: solid 1px black;
  text-align: center;
  padding: 2px;
}
@media screen and (min-width: 400px) {
  div#mainblock {
    min-width: 400px;
    max-width: 70%;
  }
}
@media screen and (min-width: 700px) {
  ul.contact {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}
@media screen and (min-width: 1024px) {
  div#mainblock {
    max-width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  div#mainblock {
    max-width: 50%;
  }
}
.h-entry, .page-header {
  border-top: solid 1px black;
  padding-left: 1em;
  padding-right: 1em;
}
.h-entry header span.post-subhead {
  margin-top: 1em;
  font-size: smaller;
  display: block;
}
.h-entry span.post-subhead a:link {
  text-decoration: none;
}
ul.taglist {
  text-transform: lowercase;
}
.h-entry p.like {
  font-size: small;
}
ul.taglist {
  list-style: none;
  display: inline;
  font-size: small;
  padding-left: 0;
}
ul.taglist li {
  display: inline-block;
  list-style: none;
  padding: 2px;
}

blockquote {
    background-color: lightgray;
    padding: 1em;
    border-left: solid 5px black;
}
