{%- macro get_author(post) -%}
{%- if post.properties.author -%}
  {%- for author in post.properties.author -%}
    {# this line handles multiple authors on a post. I'm not sure why. But mf2 technically allows it. #}
    {%- if not loop.first %}{% if loop.last %} and {% else %}, {% endif %}{% endif -%}
    {%- if getdomain(author) == getdomain(site.author.url) -%}
      {# default identity #}
      <a class="u-author" href="{{ site.author.url or request.host }}">{{ site.author.name }}</a>
    {%- else -%}
      {%- if not author.properties -%}
        {%- set author = hcardify(author) -%}
      {%- endif -%} {#- We have an h-card - maybe even fetched one! -#}
      <a class="u-author" href="{{ author.properties.url[0] }}">{{ author.properties.name[0] }}</a>
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {# Assuming default author identity. #}
  <a class="u-author" href="{{ site.author.url or request.host }}">{{ site.author.name }}</a>
{% endif %}
{%- endmacro -%}

{%- macro render_reply_context(post) -%}
  {% set author = post.properties.author[0] %}
  {%- if not author.properties -%}
    {%- set author = hcardify(author).properties -%}
  {%- else -%}
    {%- set author = author.properties -%}
  {%- endif -%}
  <blockquote class="u-in-reply-to h-cite">
    <div class="avatar-holder">
      <img class="avatar" src="{{ author.photo[0] }}">
    </div>
    <div class="text-holder">
      <h1 class="card-name"><a class="u-author" href="{{ author.url[0] }}">{{ author.name[0] }}</a></h1>
      <span class="post-subhead">
      	<a href="{{ post.properties.url[0] }}" class="u-url">
	  <time datetime="{{ post.properties.published[0] }}" class="dt-published">{{ post.properties.published[0] }}</time>
	</a>
        (archived on <time datetime="{{ post.properties.archived[0] }}" class="dt-archived">{{ post.properties.archived[0] }}</time>)
      </span>
    </div>
    <hr>
    <div class="e-content">
      {{ post.properties.content[0].html | safe }}
    </div>
  </blockquote>
{%- endmacro -%}

{%- macro render_post(post, summarize=false, comments=false) -%}
{%- set kind = post_kind(post) -%}
{%- set author = get_author(post) -%}
{% if "h-entry" in post.type %}
  <article class="h-entry">
    {# We're using separate layout for likes and other stuff #}
    {% if "like-of" in post.properties %}
      <p class="like">
        <time class="dt-published" datetime="{{ post.properties.published[0] }}">{{ post.properties.published[0] }}</time>:
        {{ get_author(post) }} <a class="u-url" href="{{ post.properties.url[0] }}">👍</a> a <a class="u-like-of" href="{{ post.properties["like-of"][0] }}">post</a> on {{ getdomain(post.properties["like-of"][0]) }}

        {% if "https://brid.gy/publish/twitter" in post.properties.get("mp-syndicate-to", []) %}
          <a style="display: none;" href="https://brid.gy/publish/twitter">Brid.gy is syndicating this post to Twitter.</a>
        {% endif %}
      </p>
    {% else %}
      <header>
        {%- if "name" in post.properties -%}
          {#- Randomize the name if there are several. -#}
          {#- THIS IS STUPID -#}
          {%- if summarize -%}
            <h2 class="p-name"><a class="u-url" href="{{ post.properties.url[0] }}">{{ post.properties.name | random }}</a></h2>
          {%- else -%}
            <h1 class="p-name">{{ post.properties.name | random }}</h1>
          {%- endif -%}
        {% endif %}

        <span class="post-subhead">
          {% if "name" not in post.properties %}
            <a class="u-url" href="{{ post.properties.url[0] }}">
          {% endif %}

          <time class="dt-published" datetime="{{ post.properties.published[0] }}">
            {{- post.properties.published[0] -}}
          </time>

          {%- if "name" not in post.properties -%}</a>{% endif %} by {{ get_author(post) }}
          {% if post.properties.updated %}
            <br>
            (last updated on <time class="dt-updated" datetime="{{ post.properties.updated[-1] }}">
              {{ post.properties.updated[-1] }}
            </time>)
          {% endif %}<br>

          {% if "in-reply-to" in post.properties %}
            {% if "type" in post.properties["in-reply-to"][0] %}
              In reply to:<br>
              {{ render_reply_context(post.properties["in-reply-to"][0]) }}
            {% else %}
              In reply to a <a href="{{ post.properties["in-reply-to"][0] }}" class="u-in-reply-to">post</a> on {{ getdomain(post.properties["in-reply-to"][0]) }}<br>
            {% endif %}
          {% endif %}

          {% if post.properties.syndication %}
            <span class="syndication-header">Also on: </span>
            <ul class="taglist">
            {% for link in post.properties.syndication %}
              <li><a href="{{ link }}" class="u-syndication">{{ site.theme.services[getdomain(link)] }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}

          {% if post.properties.category %}
            <span class="taglist-header">Tags: </span>
            <ul class="taglist">
            {% for tag in post.properties.category %}
              <li><a href="/tags/{{ tag }}" class="p-category">#{{ tag }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
        </span>
      </header>
      <hr>

      {% if post.properties["content-warning"] %}
      <details>
        <summary>⛔ <b>Content Warning:</b> <span class="p-content-warning">{{ post.properties['content-warning'] }}</span></summary>
      {% endif %}

        {% if post.properties.photo %}
        <div class="owl-carousel owl-theme">
          {% for object in post.properties.photo %}
          {% if object is mapping %}
          <img src="{{ object.src }}" alt="{{ object.alt }}">
          {% else %}
          <img src="{{ object }}">
          {% endif %}
          {% endfor %}
        </div>
        <hr>
        {% endif %}
        {% if (kind == "post" and summarize and post.properties.summary) %}
        <div class="p-summary">
          {{ post.properties.summary | random | markdown }}
        </div>
        <p><a href="{{ post.properties.url[0] }}">Read more...</a></p>
        {% else %}
        <div class="{% if not post.properties.name %}p-name {% endif %}e-content">
        {%- set content = (post.properties.content | random) %}
          {% if content.html %}{{ content.html | safe }}{% else %}{{ content | markdown }}{% endif %}
        </div>
        {% endif %}

      {% if "content-warning" in post.properties %}
        </details>
      {% endif %}

      <footer>
        {# syndication helper stuff #}
        {% if "https://brid.gy/publish/twitter" in post.properties.get("mp-syndicate-to", []) %}
        <a style="display: none;" href="https://brid.gy/publish/twitter">Brid.gy is syndicating this post to Twitter.</a>
        {% endif %}
        {% if site.author.contact.fediverse_nick %}
        <a style="display: none;" href="https://fed.brid.gy"></a>
        {% endif %}
        <span class="list-mentions" style="margin-top: 0; margin-bottom: 1em; display: block;">
          <script>
            function setlikes(data) {
              document.getElementById("like-{{ post.properties.url[0] }}").innerHTML = Number(document.getElementById("like-{{ post.properties.url[0] }}").innerHTML) + data.type.like || 0;
              document.getElementById("reply-{{ post.properties.url[0] }}").innerHTML = Number(document.getElementById("reply-{{ post.properties.url[0] }}").innerHTML) + data.type.reply || 0;
              document.getElementById("repost-{{ post.properties.url[0] }}").innerHTML = Number(document.getElementById("repost-{{ post.properties.url[0] }}").innerHTML) + data.type.repost || 0;
              document.getElementById("bookmark-{{ post.properties.url[0] }}").innerHTML = Number(document.getElementById("bookmark-{{ post.properties.url[0] }}").innerHTML) + data.type.bookmark || 0;
              document.getElementById("other-{{ post.properties.url[0] }}").innerHTML = Number(document.getElementById("other-{{ post.properties.url[0] }}").innerHTML) + (data.count 
                - data.type.like 
                - data.type.reply 
                - data.type.repost 
                - data.type.bookmark 
              ) || 0;
            }

            $.getJSON("https://webmention.io/api/count?jsonp=?", {
              target: "{{ post.properties.url[0] }}/"
            }, setlikes);
            $.getJSON("https://webmention.io/api/count?jsonp=?", {
              target: "{{ post.properties.url[0] }}"
            }, setlikes);
          </script>
          <indie-action do="like" with="{{ post.properties.url[0] }}"><button title="Like"><span id="like-{{ post.properties.url[0] }}"></span> 👍</button></indie-action>
          <indie-action do="reply" with="{{ post.properties.url[0] }}"><button title="Reply"><span id="reply-{{ post.properties.url[0] }}"></span> ↩</button></indie-action>
          <indie-action do="repost" with="{{ post.properties.url[0] }}"><button title="Repost"><span id="repost-{{ post.properties.url[0] }}"></span> 🔄</button></indie-action>
          <indie-action do="bookmark" with="{{ post.properties.url[0] }}"><button title="Bookmark"><span id="bookmark-{{ post.properties.url[0] }}"></span> 🔖</button></indie-action>
          <span style="font-size: small"><span id="other-{{ post.properties.url[0] }}"></span> mentions</span>
          <br>
          {% if kind != "post" %}
          <form style="display: inline-block;" method="post" action="{{ site.endpoints.webmention }}">
            <input type="url" name="source">
            <input type="hidden" name="target" value="{{ post.properties.url[0] }}">
            <button type="submit">Reply with URL</button>
          </form>
          {% endif %}
        </span>

        {% if not summarize %}{# XXX webmention counters and comments #}
        <script>
          function injectcomments(data) {
            var i;
            for (i = 0; i < data.links.length; i++) {
              var comment = data.links[i].data;
              document.getElementById('comments').innerHTML += `
                <div class="comment h-cite">
                  <div class="avatar-holder">
                    <img src="${comment.author.photo}" class="avatar comment-author-avatar">
                  </div>
                  <div class="text-holder">
                    <a class="comment-author-name u-author" href="${comment.author.url}">${comment.author.name}</a>
                    <p class="comment-time"><a href="${comment.url}">replied</a> on
                      <time datetime="${comment.published}" class="dt-published">${comment.published}</time>:
                    </p>
                    <div class="e-content">
                      ${comment.content}
                    </div>
                  </div>
                </div>
              `;
            }
          }
          $.getJSON("https://webmention.io/api/mentions?jsonp=?", {
            target: "{{ post.properties.url[0] }}/",
            "wm-property": "in-reply-to"
          }, injectcomments);
          $.getJSON("https://webmention.io/api/mentions?jsonp=?", {
            target: "{{ post.properties.url[0] }}",
            "wm-property": "in-reply-to"
          }, injectcomments);
        </script>
        <div id="comments">
          <h2>Comments</h2>
        </div>
        {% endif %}
      </footer>
    {% endif %}
  </article>
{% else %}
  <article class="h-entry error">
    <h1>ERROR: Unknown microformats2 type: {{ post.type }}</h1>
    <p>Unknown microformats2 type, cannot render</p>
    <code>{{ post }}</code>
  </article>
{%- endif -%}
{%- endmacro -%}

{% macro render_pagination(pagination) %}
<ul class=pagination>
  <li class="page-item{% if pagination.page == 1 %} disabled{% endif %}">
    <a href="/" class="page-link" aria-label="First"><span aria-hidden="true">««</span></a>
  </li>
  <li class="page-item{% if pagination.page == 1 %} disabled{% endif %}">
    <a rel="prev" href="{% if pagination.page != 1 %}{{ url_for_other_page(pagination.page - 1) }}{% else %}#{% endif %}">«</a>
  </li>

  {%- for page in pagination.iter_pages() %}
    {% if page %}
      <li class="page-item{% if page == pagination.page %} active{% endif %}"><a class="page-link" href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
    {% else %}
      <li class="page-item disabled"><span aria-hidden="true">&nbsp;…&nbsp;</span></li>
    {% endif %}
  {%- endfor %}
  
  <li class="page-item{% if pagination.page == pagination.pages %} disabled{% endif %}">
    <a rel="next" href="{% if pagination.page != pagination.pages %}{{ url_for_other_page(pagination.page + 1) }}{% else %}#{% endif %}">»</a>
  </li>
  <li class="page-item{% if pagination.page == pagination.pages %} disabled{% endif %}">
    <a href="{{ url_for_other_page(pagination.pages) }}" class="page-link" aria-label="Last"><span aria-hidden="true">»»</span></a>
  </li>
</ul>
{% endmacro %}
